@model ArTrax472b.Models.Customer
@{
    ViewBag.Title = "Customer Page - " + Model.CustomerName;
}



<script src="~/Scripts/_DataServiceCaller.js"></script>
<script src="~/Scripts/_Index.js"></script>
<script src="~/Scripts/_InvoiceHelper.js"></script>

<div id="tabstrip">
    <ul>
        <li>Tab 1</li>
        <li>Tab 2</li>
    </ul>
    <div>Content 1</div>
    <div>Content 2</div>
</div>

<script>
    var tabStrip = $("#tabstrip").kendoTabStrip().data("kendoTabStrip");
    tabStrip.enable(tabStrip.tabGroup.children().eq(0), false);
    tabStrip.enable(tabStrip.tabGroup.children().eq(0), true);
</script>
 