@{
    ViewBag.Title = "Home Page";
}

<script src="~/Scripts/_DataServiceCaller.js"></script>

<div id="grid"></div>
<div id="gridTickets"></div>

<script>

    $(document).ready(function () {
        console.log("loaded ready");

        loadOpenTickets()

        $("#gridTickets").kendoGrid({
            columns: [{
                field: "Id",
                title: "Id Is"
            },
            {
                field: "TicketNumber",
                title: "TIck"
            }] 
        });
    });


    function loadOpenTickets() {
        var url = "/InvoiceLine/GetOpenTickets?CustomerId=252";
        getData(url, loadOpenTicketsCallback);
    }
    function loadOpenTicketsCallback(data) {
        $("#gridTickets").kendoGrid({
            dataSource: data
        }).data("kendoGrid");
        //alert(data.length);
        // invoiceLinesAvailableData = data;
    };

</script>